{% extends 'base.html' %}
{% block content %}
    <h1 class="skeleton-heading">
        About Us
    </h1>
        <div class="p-4 justify-content-center">
            <p>
                Welcome to Best Cars,
                The greatest automotive dealers in North America,
                We sell domestic and importred cars at reasonable prices.
            </p>
            <br/>
            <p>
                We are a heritage company that was founded in 1967, the same year the iconic 'Eleanor' Ford mustang gt 500 was unveiled infront of the world.
                </br>
                Our company has been in the same family since it's origins through all the ups and downs.
                <br/>
                Our Founder Lord Voldemort was an avid enthusiast of LeMan's, himself having competed in the Indie 500 Many a times but before he got to accomplish his wish of 
                competeing in the LeMan's he crashed in the qualifying lap for the Quidditch Wordl Cup where he fell off his broom from almost 100 feet in the air due to which 
                he was never able to compete in the Fifa World Cup of Sorcerers and it was this disability 
                that led him down the wrong path where he unfortunately killed Lily and James Potter but somehow failed to kill a damn
                child, who then grew up and took revenge of his family by killing Lord Voldemort, the kid was none other than the World Famous
                <b>Gordon Ramsay</b>
                
                Our workers are all death eaters so don't upset them or they might end up cursing you(&#128542). We also offer a lifetime warranty on all our cars and even our
                serviced parts where if anything stops working or doesn't meet your standards, you can come to the shop and we would be happy to 
                end your life right then and there, hence the name lifetime warranty.
                <br/>
                Please feel free to reach out to us anytime you have a <a href="{% url 'djangoapp:contact' %}"><b>death wish&#128579</b></a>

            </p>
        </div>
{% endblock %}