{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <h1 class="heading-txt" style="font-size: 2em; margin-bottom: 3%; text-align: center;">
            Contact
        </h1>
        <div style="margin-top: 5%; display: flex; justify-content: space-evenly; flex-wrap: wrap;">
            
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Contact</div>
                <div class="card-body">
                    <h5 class="card-title">Customer Support</h5>
                    <p class="card-text">Name: Gellert Grindlewald <br/>Mobile: 5552347986 <br/> Email: GG@dealer.quidditch</p>
                </div>
            </div>
            
            <div class=" card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Contact</div>
                <div class="card-body">
                    <h5 class="card-title">Lead Sales Rep.</h5>
                    <p class="card-text">Name: Arthur Weasley<br/>Mobile: 5559824747<br/>Email: AWeasley@muggle.connoisseur</p>
                </div>
            </div>
            
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Contact</div>
                <div class="card-body">
                    <h5 class="card-title">Lead Torturer</h5>
                    <p class="card-text">Name: Bellatrix Lestrange<br/>Mobile: 5559092342<br/>Email: bella@voldi.forlife</p>
                </div>
            </div>
            
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Contact</div>
                <div class="card-body">
                    <h5 class="card-title">G.O.A.T Wizard</h5>
                    <p class="card-text">Name: Gilderoy Lockhart<br/>Mobile: 5550987634<br/>Email: Gild@Lockedout.memory</p>
                </div>
            </div>

            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Contact</div>
                <div class="card-body">
                    <h5 class="card-title">Shorty</h5>
                    <p class="card-text">Name:Filius Flitwick<br/>Mobile: 5557880743<br/>Email: Flit@wingardium.leviosa</p>
                </div>
            </div>

            <div class="card text-white bg-dark mb-2" style="max-width: 40rem;">
                <div class="card-header">Visit Us At</div>
                <div class="card-body">
                    <h5 class="card-title">Best Cars HQ<br/>Hogwarts Castle, Highlands, Scotland, Great Britain</h5>
                    <p class="card-text">Mobile: 5557880743<br/>Email: hogwarts@wizard.com</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}